/*
Pajama Programmer
Coding Dojo - July 5 Online Flex
6-July-2016
Assignment IV PPC Lubricants
*/
* {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 10px;
}

#container {
 width: 970px;
 background-color: whitesmoke;
 margin: 5px auto;
 box-shadow: 1px 1px 2px 1px #ddd;
}

header img,
header h1 {
    display: inline-block;
    vertical-align: top;
}

header {
    border-bottom: 1px solid gray;
    background-color: whitesmoke;
    background: linear-gradient(#E6E6E6,whitesmoke,whitesmoke,white);
}

header h1 {
    font-size: 20px;
    margin: 30px 0px 0px 250px;
}

header img {
    margin-left: 20px;
}

#nav-bar {
    background-color: silver;
    background: linear-gradient(whitesmoke,silver,whitesmoke);
    border-bottom: 1px solid #5F5F5F;
    height: 40px;
}

#nav-bar ul{
    list-style: none;
    font-weight: 600;
    margin-left: 30px;
}

#nav-bar ul li{
    display: inline-block;
    border-left: 1px outset silver;
    padding-top: 10px;
}
#nav-bar a {
    text-decoration: none;
    color: #5F5F5F;
    padding: 10px;
}
#main {
    background-color: black;
    background: radial-gradient(#404040, black);
}

.main-pic {
    border: 5px solid whitesmoke;
    margin: 10px 10px 10px 25px;
}

article {
    display: inline-block;
    background-color: whitesmoke;
    width: 222px;
    height: 222px;
    vertical-align: top;
    margin: 10px 5px;
}

article:nth-of-type(2) {
    margin-left: 25px;
}

#about {
    width: 522px;
    height: 265px;
    background-color: #404040;
    background: linear-gradient(to right, gray, #404040);
    color: whitesmoke;
    margin-left: 5px;
}

#about h3,
#about p {
    padding: 15px 20px 0px 15px;
}

#about h3 {
    font-size: 12px;
}

.bold {
    font-weight: 800;
}

article h2 {
    background-color: #FFD800;
    background: linear-gradient(#FFD856, #FFD856, #FFBB00, #FFD800);
    padding: 5px;
    color: black;
    font-weight: 800;
}

article p {
    padding: 10px;
}

article a {
    margin-left: 115px;
}

#blurb {
    color: #FFE97F;
}

#blurb img {
    width: 50px;
    border-radius: 2px;
    margin: 0px 10px 0px 35px;
}